.idea
.DS_Store
*.esproj
autoload.php
Thumbs.db
build
phpunit.xml
Resources/doc/_build/*
nbproject
coverage
composer.phar
composer.lock
vendor

web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
app/config/parameters.yml